.columns.full > div > div {
  padding-bottom: 28px;
}

.columns.full .image {
  margin: 0 0 14px;
}

.columns.full .subtitle {
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  color: #666;
  margin: 0;
}

.columns.full .title {
  font-weight: 600;
  line-height: 22px;
  font-size: 23px;
  color: var(--text-color);
  margin: 0 0 10px;
}

.columns.full .text {
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  margin: 0 0 25px;
}

.columns.full .text a {
  text-decoration: underline;
}

.columns.full .text .button{
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  background-color: var(--background-color);
  color: var(--link-color);
  border-radius: 0.625rem;
  border: solid 1px #0064d5;
  box-shadow: none;
  padding: 8px 15px;
  text-decoration: none;
}

@media (min-width: 990px) {
  .columns.full > div > div {
    padding-bottom: 28px;
  }
}
