body.tour .section.section-organize-visit .default-content-wrapper {
  padding: 0;
}

.columns.organize-visit a {
  text-decoration: underline;
}

.columns.organize-visit .icon {
  width: 46px;
}

.columns.organize-visit .icon svg {
  position: absolute;
  display: block;
  width: 33px;
  height: 33px;
  color: #6b6b6b;
}

.columns.organize-visit .icon.icon-open-link::before {
  content: url('../../icons/open-link.svg');
  display: inline-flex;
  filter: invert(24%) sepia(95%) saturate(4099%) hue-rotate(200deg) brightness(93%) contrast(101%);
  width: 11px;
  height: 11px;
}

.columns.organize-visit .visit-box {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.columns.organize-visit .icon-wrapper {
  flex-basis: content;
}

.columns.organize-visit .text-wrapper {
  border-left: 5px solid #cdcdcd;
  padding: 7px 11px;
  flex-basis: max-content;
  line-height: 22px;
  font-weight: 400;
  font-size: var(--body-font-size-xs);
  color: var(--text-color);
}

.columns.organize-visit .text-wrapper p {
  line-height: 22px;
  margin: 0;
  color: var(--text-color);
}

@media (min-width: 900px) {
  .columns.organize-visit {
    display: flex;
  }

  .columns.organize-visit .visit-box {
    align-items: stretch;
    flex-basis: 25%;
    gap: 0;
  }

  .columns.organize-visit .icon-wrapper {
    flex-basis: auto;
  }

  .columns.organize-visit .visit-box .text-wrapper {
    border-left: 2px solid #cdcdcd;
    padding: 5px 14px;
    flex-basis: 100%;
  }
}
