body main .section.banner-carousel-container {
  padding: 0;
}

body main .section.banner-carousel-container .default-content-wrapper {
  padding: 20px;
  width: auto;
}

body main .section.banner-carousel-container .default-content-wrapper p {
  font-weight: bold;
}

.banner-carousel.block {
  position: relative;
  overflow: hidden;
  height: calc(100vh - var(--nav-height));
}

.banner-carousel > div:first-child {
  height: 100%;
  width: 100%;
  margin-left: 0;
  display: flex;
  transition: margin .5s;
}

.banner-carousel .carousel-slide {
  position: relative;
  z-index: 0;
  min-width: 100%;
}

.banner-carousel .carousel-slide .text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  align-content: space-evenly;
}

.banner-carousel .carousel-slide .text-container h2 {
  position: relative;
  opacity: 0.9;
  text-shadow: 0 2px 4px rgb(0 0 0 / 26%);
  text-transform: uppercase;
  z-index: 1;
  color: var(--background-color);
  text-align: center;
  font-size: var(--heading-font-size-xs);
  font-weight: 400;
  width: 100%;
}

.banner-carousel .carousel-slide .text-container h2 strong {
  font-size: var(--heading-font-size-xl);
  font-weight: 400;
  display: block;
}

/* stylelint-disable-next-line no-descending-specificity */
.banner-carousel .carousel-slide .text-container p {
  position: relative;
  z-index: 1;
  font-size: var(--body-font-size-xs);
  color: var(--background-color);
  max-width: 300px;
  text-align: center;
  padding: 0 15px;
  width: 100%;
}

.banner-carousel .carousel-slide picture::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAMgAQMAAAA3JKbTAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlOZANYQ/GsAAADCSURBVHja7c8xEQAACMQwPOHfAaLQwN+xpXuHVJ9LljkXLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCx/lgWkvtZkVTxVxQAAAABJRU5ErkJggg==");
  z-index: 1;
  background-color: rgb(0 0 0 / 45%);
}

.banner-carousel .carousel-slide picture {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banner-carousel .carousel-slide picture img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  position: absolute;
}

.banner-carousel .control-container .image-pagination {
  position: absolute;
  left: 50%;
  bottom: 7vh;
  width: 300px;
  padding: 0 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  text-align: center;
  transition: 300ms;
}

.banner-carousel .control-container .image-pagination .indicator {
  background: var(--background-color);
  width: 100%;
  height: 2px;
  border-radius: 0;
  margin: 0 5px;
  flex: 0 1 auto;
  opacity: 0.35;
  transition: width 0.25s ease-in-out;
}

.banner-carousel .control-container .image-pagination .indicator.active {
  width: 200%;
  opacity: 0.75;
}

.banner-carousel .control-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner-carousel .control-container .prev, .banner-carousel .control-container .next {
  width: calc(100vw / 2);
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;
}

.banner-carousel .control-container .prev {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.banner-carousel .control-container .next {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.banner-carousel .control-container .prev.hide, .banner-carousel .control-container .next.hide {
  display: none;
}

@media screen and (min-width: 990px) {
  .section .banner-carousel-wrapper {
    margin: 0;
    width: 100%;
  }

  .banner-carousel.block {
    height: 550px;
  }

  .banner-carousel .carousel-slide .picture img {
    max-width: 100%;
  }

  .banner-carousel .control-container .prev, .banner-carousel .control-container .next {
    height: 30px;
    width: 30px;
    opacity: 0.5;
  }

  .banner-carousel .control-container .prev:hover, .banner-carousel .control-container .next:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.5s;
  }

  .banner-carousel .carousel-slide .text-container p {
    font-size: var(--body-font-size-s);
  }
}

@media screen and (min-width: 600px) {
  .banner-carousel .carousel-slide p:last-of-type {
    max-width: 750px;
  }
}

/*
banner carousel - single banner option styling
 */
.banner-carousel.single-banner .carousel-slide .text-container {
  align-content: unset;
}

.banner-carousel.single-banner .carousel-slide .text-container h2 {
  margin-top: auto;
  margin-left: 20px;
  text-align: start;
  width: auto;
  margin-bottom: 35px;
  font-weight: 500;
  opacity: 1;
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-font-size-l);
}

.banner-carousel.single-banner .carousel-slide .text-container h2 strong {
  font-size: 70px;
  line-height: 70px;
  font-weight: 500;
}

.banner-carousel.single-banner .control-container {
  display: none;
}

.banner-carousel.single-banner .carousel-slide picture::before {
  display: none;
}

@media screen and (min-width: 990px) {
 body main .section.banner-carousel-container .default-content-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    width: 650px;
    margin: 0 auto;
  }

 body main .section.banner-carousel-container .default-content-wrapper p{
    font-weight: 400;
  }

  .banner-carousel.single-banner .carousel-slide .text-container h2 {
    margin-left: unset;
    width: 650px;
  }
}
