body.modal-visible {
  overflow: hidden;
}

.area-features .modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1043;
}

.area-features .cards .modal > .modal-content-wrapper {
  background-color: transparent;
  width: 100%;
  max-width: 880px;
  height: 100vh;
  margin: auto;
  box-shadow: 0 0 20px 0 rgb(0 0 0/40%);
  position: relative;
}

.area-features .modal.appear {
  display: flex;
}

#modal-overlay {
  display: none;
}

#modal-overlay.appear {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 1042;
  background: var(--background-color);
  opacity: .92;
  width: 100%;
  height: 100%;
}

main .area-features-wrapper {
  padding: 0 20px;
  box-sizing: border-box;
}

.area-features .cards  ul {
  display : flex;
  flex-direction: column;
  gap: 0;
}

.area-features .cards ul li {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  border: unset;
  margin-bottom: 25px;
}

.area-features h3 {
  font-size: 14px;
  line-height: 1.4;
  font-family: var(--body-font-family);
  font-weight: 600;
  margin: 0 0 6px;
  color: var(--text-color);
  padding: 10px 10px 0 20px;
}

.area-features .icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid #d9e9f8;
  margin: 0 auto 18px;
  display: flex;
}

.area-features .icon > svg {
  width: auto;
  height: 100%;
  margin: auto;
  max-height: 25px;
  max-width: 25px;
}

.area-features .cards .cards-card-body {
  margin: 0;
}

.area-features .cards .modal .modal-content > .modal-header {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 50px 20px 28px;
  background: var(--background-color);
}

.area-features .modal-header h3 {
  font-size: 19px;
  margin: 0 0 6px;
  color: var(--text-color);
  padding: 0;
  background: var(--background-color);
}

.area-features .modal p {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  color: #555;
  padding: 0 20px 20px;
  background: var(--background-color);
  margin:0;
}

.area-features .cards .modal .modal-content .icon {
  margin: 0;
}

.area-features .cards .modal-content > .close {
  width: 100%;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  top: 18px;
  cursor: pointer;
  background-color: unset;
  border: unset;
  box-shadow: unset;
  padding: 0;
  margin: 0;
}

.area-features .cards .modal-content > .close::after {
  font-size: 17px;
  font-weight: 700;
  color: #7fb3e6;
  content: '\e606';
  display: block;
  font-family: Real-Madrid-Icons, sans-serif;
  text-indent: 0;
  margin-inline-end:18px;
}

.area-features .cards .modal iframe {
  width: 100%;
  height: calc(100vh - 158px);
  margin: 0;
  padding: 0;
}


@media (min-width: 990px)  {
  .section.info-vip > .area-features-wrapper {
    grid-column: 2/3;
    grid-row: auto;
    width: 100%;
    margin: 30px 0;
    padding: 0 100px 0 0;
    box-sizing: border-box;
  }

  .area-features .cards .cards-card-body {
    text-align:center;
  }

  .area-features .cards  ul {
    flex-direction: row;
  }

  .area-features .cards ul li {
    flex-basis: 33%;
    max-width: 33%;
    flex-direction: column;
    margin: 0;
  }

  .area-features h3 {
    font-size: 15px;
  }

  .area-features .cards .modal .modal-content-wrapper {
    background: var(--background-color);
    width: 750px;
    max-width: unset;
    height: auto;
  }

  .area-features .cards .modal .modal-content > p {
    margin: 0 28px;
  }

  .area-features .cards .modal .modal-content-wrapper.iframe-content {
    width: 1000px;
  }

  .area-features .cards .modal .modal-content-wrapper.iframe-content  p {
    margin: 0;
  }

  .area-features .cards .modal iframe {
    width: 960px;
    height: 645px;
  }

}
