/* stylelint-disable no-descending-specificity */

/* --- mobile --- */

/* the section */
body.tour-detail .section.hero-tour-detail-container {
  padding: 0;
  background-color: #333;
  position: relative;
  transition: all 0.05s ease-in-out;
}

/* the block */
body.tour-detail .section.hero-tour-detail-container .hero-tour-detail.block {
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: calc(100vh - 57px);
  background-color: transparent;
}

/* the root div */
.hero-tour-detail.block .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: var(--background-color);
  font-family: var(--body-font-family);
}

/* breadcrumb */
.hero-tour-detail.block .content .breadcrumb {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
  margin: 1.125rem auto 2.5rem 0;
  font-size: 0.8125rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--background-color);
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.13px;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: rgba(0 0 0 / 40%);
  border-radius: 0 1rem 1rem 0;
}

.hero-tour-detail.block .content .breadcrumb span.icon {
  padding-inline-start: 0.5rem;
  height: 18px;
  transform: rotate(180deg);
}

/* product div (the card) */
.hero-tour-detail.block .content .product {
  position: relative;
  margin: 0 auto 1.875rem;
  width: calc(100vw - 1.875rem);
  transform: translateX(-0.625rem);
  max-width: 20rem;
  box-sizing: border-box;
  padding: 0;
  border-radius: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: 1rem;
}

/*  the golden label */
.hero-tour-detail.block .content .product .label {
  display: inline-block;
  border-radius: 0.3125rem;
  background-color: #ad8100;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--background-color);
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

/* product name/subtitle container */
.hero-tour-detail.block .content .product .product-name {
  padding: 1.25rem;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

/* title h1 */
.hero-tour-detail.block .content .product .product-name .title {
  font-size: 3.375rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #0b3965;
  margin: 0;
  font-family: var(--body-font-family);
}

/* subtitle inside h1 */
.hero-tour-detail.block .content .product .product-name .title .subtitle {
  display: block;
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.91px;
  text-align: center;
  padding-top: .5rem;
  color: rgba(11 57 101 / 80%);
  text-transform: uppercase;
}

/* combo image + title */
.hero-tour-detail.block .content .product .product-name .combo-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin:0;
  padding-top:20px;
}

/* combo image  */
.hero-tour-detail.block .content .product .product-name .combo-container .combo-image-container  img {
  margin: 0 0 0 auto;
  max-width: 100%;
  max-height: 3.25rem;
}

/* plus sign after combo image  */
.hero-tour-detail.block .content .product .product-name .combo-container .plus {
  font-size: 1.375rem;
  padding-top: 0.25rem;
  color: #607d99;
  width: 32px;
  text-align: center;
  margin:0;
}

/* title and subtitle for combo image  */
.hero-tour-detail.block .content .product .product-name .combo-container .combo-title-container {
  padding: 0;
  width: calc(50% - 16px);
  text-align: end;
  box-sizing: border-box;
  position: relative;
}

.hero-tour-detail.block .content .product .product-name .combo-container .combo-title-container .title {
  font-family: var(--body-font-family);
  font-size: 1.875rem;
  font-weight: 300;
  color: #0f3a64;
  line-height: 1;
  text-align: start;
}

.hero-tour-detail.block .content .product .product-name .combo-container .combo-title-container .title .subtitle{
  font-family: var(--body-font-family);
  font-size: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.56px;
  color: #395e81;
  line-height: 1;
  display: block;
  padding: 0;
  text-align: start; 
}

/* buy info (price description and buy button) */
.hero-tour-detail.block .content .product .buy-info {
  display: flex;
  padding-bottom: 1.25rem;
}

/* price info */
.hero-tour-detail.block .content .product .buy-info .price {
  box-sizing: border-box;
  padding-right: 1.25rem;
  width: 50%;
  flex: 0 1 auto;
}


.hero-tour-detail.block .content .product .buy-info .price > p {
  font-size: 0.9375rem;
  letter-spacing: -0.3px;
  text-align: end;
  margin: 0;
}

/* amount */
.hero-tour-detail.block .content .product .buy-info .price > p .amount {
  font-size: 1.5625rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* currency */
.hero-tour-detail.block .content .product .buy-info .price > p .currency {
  font-size: 1.125rem;
  letter-spacing: -0.36px;
}

/* price subtitle */
.hero-tour-detail.block .content .product .buy-info .price > p .subtitle {
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.14px;
  line-height: 1;
  color: #444;
}

/* buy button */
.hero-tour-detail.block .content .product .buy-info .button-buy {
  margin: 0;
  width: 50%;
  flex: 0 1 auto;
}

.hero-tour-detail.block .content .product .buy-info .button-buy > a {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 3px 8px 0 rgba(0 0 0 / 40%);
  background-color: #0067d1;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.875rem 0;
  box-sizing: border-box;
  text-align: center;
  color: #f6f8f5;
  transform: translateX(1.5625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.hero-tour-detail.block .content .product .buy-info .button-buy > a:lang(ar){
  transform: translateX(-1.5625rem);
}

/* product info description */
.hero-tour-detail.block .content .product-info {
  padding: 0 1.875rem 1.25rem;
  box-sizing: border-box;
}

/* description title */
.hero-tour-detail.block .content .product-info  .description-container .description-title {
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

/* description title */
.hero-tour-detail.block .content .product-info  .description-container > p {
  font-size: 1.0625rem;
  line-height: 1.53;
  margin: 0;
  color: var(--background-color);
}

/* background */
.hero-tour-detail.block .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-tour-detail.block .background img {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* carousel container */
body.tour-detail .section.hero-tour-detail-container .carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height:100%;
  overflow:hidden;
  display: none;
  z-index:0;
  margin: 0;

}

/* carousel slides container */
body.tour-detail .section.hero-tour-detail-container .carousel .slides {
  height: 100%;
  width: auto;
  position: relative;
  transition-property: transform;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a single slide in a carousel */
body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide {
  width: 100%;
  height: 100%;
  transition-property: transform;
  flex: 0 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to right, rgba(0 0 0 / 65%) 33%, rgba(0 0 0 /10%) 63%);
}

body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide:lang(ar)::after {
  background: linear-gradient(to left, rgba(0 0 0 / 65%) 33%, rgba(0 0 0 /10%) 63%);
}

/* video slide */
body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide > video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-height: 100vh;
  height: auto;
  object-fit: cover;
}

/* image slide */
body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide  img {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* title of a slide */ 
body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide .title {
  left: auto;
  right: 9.375rem;
  bottom: 5.25rem;
  text-align: end;
  margin-inline-start: 20rem;
  margin-inline-end: 0;
  position: absolute;
  width: calc(100% - 2.5rem);
  font-family: var(--heading-font-family);
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.7px;
  color: var(--background-color);
  z-index: 2;
}

/* title of a slide (arabic) */ 
body.tour-detail .section.hero-tour-detail-container .carousel .slides .slide .title:lang(ar) {
  left: 9.375rem;
  right: auto;
}

/* carousel arrows */ 
body.tour-detail .section.hero-tour-detail-container .carousel .arrow {
  width: 1.9375rem;
  height: 1.9375rem;
  bottom: 9.375rem;
  right: 9.375rem;
  border-radius: 50%;
  background-color: rgba(255 255 255 / 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  z-index: 1;
  cursor:pointer;
  color: #000;
}

/* rotate the icon */
body.tour-detail .section.hero-tour-detail-container .carousel .arrow.previous span.icon-arrow-right {
  transform: rotate(180deg);
}

body.tour-detail .section.hero-tour-detail-container .carousel .arrow.disabled {
  pointer-events: none;
  opacity: 0.25;
  cursor: default;
}

body.tour-detail .section.hero-tour-detail-container .carousel .arrow.previous {
  transform: translateX(-2.8125rem);
}

body.tour-detail .section.hero-tour-detail-container .carousel .arrow.previous:lang(ar) {
  transform: none;
  left: 9.375rem;
  right: auto;
}

body.tour-detail .section.hero-tour-detail-container .carousel .arrow.next:lang(ar) {
  transform: translateX(2.8125rem);
  left: 9.375rem;
  right: auto;
}

/* the mobile background is overlayed with a dotted pattern */
@media (max-width: 960px) {
  body.tour-detail .section.hero-tour-detail-container .hero-tour-detail.block::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0 0 0 / 55%);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAMgAQMAAAA3JKbTAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlOZANYQ/GsAAADCSURBVHja7c8xEQAACMQwPOHfAaLQwN+xpXuHVJ9LljkXLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCx/lgWkvtZkVTxVxQAAAABJRU5ErkJggg==");
    z-index: 1;
  }
}

@media (min-width: 960px) {
  body.tour-detail .section.hero-tour-detail-container {
    /* the section */
    height: calc(100vh - 60px);
    min-height: 36.875rem;
  }

  /* the block */
  body.tour-detail .section.hero-tour-detail-container .hero-tour-detail.block {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  /* breadcrumb */
  .hero-tour-detail.block .content .breadcrumb {
    border-radius: 1rem;
    margin: 2.5rem auto 1.25rem 0;
  }

  /* product div (the card) */
  .hero-tour-detail.block .content .product {
    width: auto;
    transform: none;
    max-width: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--background-color);
  }

  /*  the golden label */
  .hero-tour-detail.block .content .product .label {
    border-radius: 0;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    letter-spacing: normal;
    text-align: start;
    box-sizing: border-box;
    padding: 0.5rem 1.75rem 0.5rem 2.5rem;
    position: static;
    transform: translateX(-1.25rem);
  }

  /*  the golden label (arabic) */
  .hero-tour-detail.block .content .product .label:lang(ar) {
    padding: 0.5rem 2.5rem 0.5rem 1.75rem;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0;
    transform: translateX(1.25rem);
  }

  /* product name/subtitle container */
  .hero-tour-detail.block .content .product .product-name {
    padding: 1.25rem 0 1.25rem 0.625rem;
    box-sizing: border-box;
  }

  /* title h1 */
  .hero-tour-detail.block .content .product .product-name .title {
    font-size: 4.6875rem;
    text-align: start;
    color: var(--background-color);
  }

  /* subtitle inside h1 */
  .hero-tour-detail.block .content .product .product-name .title .subtitle {
    line-height: 1;
    letter-spacing: 0.91px;
    text-align: start;
    color: rgba(255 255 255 / 80%);
    padding-top: .75rem;
  }

  /* combo image + title */
  .hero-tour-detail.block .content .product .product-name .combo-container {
    box-sizing: border-box;
    justify-content: flex-start;
  }

  /* combo image container */
  .hero-tour-detail.block .content .product .product-name .combo-container .combo-image-container{
    padding: 0.6875rem 0.8125rem 0.625rem;
    box-sizing: border-box;
    border-radius: .625rem;
    background-color: var(--background-color);
  }
  
  /* combo image  */
  .hero-tour-detail.block .content .product .product-name .combo-container .combo-image-container  img {
    max-width: 100%;
    max-height: 73px;
    margin: 0;
  }

  /* plus sign after combo image  */
  .hero-tour-detail.block .content .product .product-name .combo-container .plus {
    width: auto;
    padding: 0 15px 0 18px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1.54px;
    color: var(--background-color);
  }

  .hero-tour-detail.block .content .product .product-name .combo-container .combo-title-container .title {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: normal;
    color: var(--background-color);
  }
  
  .hero-tour-detail.block .content .product .product-name .combo-container .combo-title-container .title .subtitle{
    font-size: 13px;
    font-weight: normal;
    padding-top: 0.3125rem;
    letter-spacing: 0.91px;
    color: rgba(255 255 255 / 80%);
  }

  /* buy info (price description and buy button) */
  .hero-tour-detail.block .content .product .buy-info {
    display: block;
    padding: 0 0 1.25rem 0.625rem;
    box-sizing: border-box;
  }

  /* price info */
  .hero-tour-detail.block .content .product .buy-info .price {
    width: auto;
    padding: 0;
  }

  .hero-tour-detail.block .content .product .buy-info .price p {
    text-align: start;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  /* price subtitle */
  .hero-tour-detail.block .content .product .buy-info .price > p .subtitle {
    font-size: 0.8125rem;
    color: var(--background-color);
    margin: 0.125rem 0 0.75rem;
  }

  /* buy button  */
  .hero-tour-detail.block .content .product .buy-info .button-buy {
    width: auto;
    padding: 0;
  }

  /* buy button  */
  .hero-tour-detail.block .content .product .buy-info .button-buy > a {
    display: inline-block;
    width: auto;
    transform: none;
    font-size: 1rem;
    padding: 0.75rem 1.375rem;
    box-sizing: border-box;
  }

  .hero-tour-detail.block .content .product .buy-info .button-buy > a:lang(ar){
    transform: none;
  }
  
  /* product info description */
  .hero-tour-detail.block .content .product-info {
    padding: 0 0 0 0.625rem;
    max-width: 20rem;
  }

  /* description title */
  .hero-tour-detail.block .content .product-info  .description-container .description-title {
    font-family: var(--body-font-family);
    font-size: 0.95rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    margin: 0;
  }

  /* description title */
  .hero-tour-detail.block .content .product-info  .description-container > p {
    font-size: 0.875rem;
    line-height: 1.57;
  }

  .hero-tour-detail.block .background  {
    display: none;
  }

  /* carousel container */
  body.tour-detail .section.hero-tour-detail-container .carousel {
    display: block;
  }

}

@media (min-width: 1200px) {
  /*  the golden label */
  body.tour-detail .section.hero-tour-detail-container .hero-tour-detail.block .content .product .label {
    padding: 0.5rem;
    padding-inline-start: calc((100vw - 75rem) / 2 + .625rem);
    padding-inline-end: 1.75rem;
    box-sizing: border-box;
    transform: translate(calc(-1 * ((100vw - 75rem) / 2)), 0);
  }

  /*  the golden label (arabic) */
  body.tour-detail .section.hero-tour-detail-container .hero-tour-detail.block .content .product .label:lang(ar) {
    transform: translate(calc(1 * ((100vw - 75rem) / 2)), 0);
  }
}