/* golden label on top of tickets if set */
.ticket-card-list .ticket-type .label {
  display: inline-block;
  border-radius: 0.3125rem;
  background-color: #ad8100;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}