main > .matches-container {
  background: linear-gradient(to right, #3476b6 0%, #699ac9 100%);
  position:relative;
  margin: 50px 0 0;
  box-sizing: border-box;
  padding: 40px 10px 35px;
}

main > .matches-container > * {
  margin: 50px 0 0 10px;
}

main > .matches-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 100vw solid var(--background-color);
  border-top: none;
  border-bottom: 25px solid transparent;
}

main > .matches-container h2 {
  color: var(--background-color);
  border-bottom-color: var(--background-color);
  margin-left: 0;
}

.matches .filters {
  list-style-type: none;
  display: flex;
  padding: 0;
  color: var(--background-color);
}

.matches .filters a {
  cursor: pointer;
  color: var(--background-color);
  font-weight: 300;
  letter-spacing: -0.2px;
  display: inline-block;
}

.matches > .filters {
  margin: 0 0 20px;
  position: relative;
}

.matches > .filters > .option {
  margin-right: 22px;
  flex: 0 1 auto;
}

.matches .filters a:hover {
  text-decoration: none;
  color: var(--background-color);;
}

.matches .filters.level-2 {
  display: none;
  position: absolute;
  left: -10px;
  top: 53px;
  background: transparent;
  height: 395px;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
}

.matches .filters.level-2 > .option {
  width:42px;
  font-size: 15px;
  line-height: 2.73;
}

.matches .option.nested.active > .filters {
  display: block;
}

.matches .option.active > a {
  font-weight: 400;
}

.matches > .filters > .option.active {
  border-bottom: solid 2px var(--background-color);
  padding-bottom: 3px;
}

.matches .filters.level-2 .option.active > a {
  border-bottom: solid 4px var(--background-color);
  display: inline;
}

.matches .match, .matches .empty-match {
  min-width: 250px;
  min-height: 395px;
  background-color: var(--background-color);;
  border-radius: 10px;
  display: none;
  overflow: hidden;
  margin: 0 4px;
  box-sizing: border-box;
  position: relative;
}

.matches .match-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  padding: 20px;
  box-sizing: border-box;
}

.matches .match.appear, .matches .empty-match.appear {
  display: block;
}

.match img {
  flex: 0 1 100%;
  height: 40px;
}

.match img.team.logo {
  width: 65px;
  height: 65px;
  flex: 0 0 65px;
  margin-top: 10px;
}

.match img.team.home {
  order: 2;
}

.match img.team.away {
  order: 3;
}

.match .teams {
  display:flex;
  align-items: center;
  flex: 0 1 100%;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #000;
  order: 4;
  justify-content: center;
}

.match .teams > span:first-child::after {
  content: '-';
  padding: 0 5px;
}

.match .datetime {
  flex: 0 0 100%;
  font-size: 1.875rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: #333;
  line-height: 1.33;
  order: 5;
  align-items: center;
}

.match .datetime .date {
  font-size: 16px;
  font-weight: normal;
}

.match .competition-info {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;;
  font-weight: 300;
  flex: 0 0 100%;
  box-sizing: border-box;
  order: 6;
}


.match .price {
  flex: 0 1 100%;
  text-align: center;
  font-size: 0.813rem;;
  font-weight: 300;
  order: 7;
}

.match a.button {
  flex: 0 1 100%;
  min-width: auto;
  padding: 15px 10px;
  font-size: 14px;
  order: 8;
}

.matches > .match-list {
  display: flex;
  overflow: auto;
  width: 100%;
}

.matches .filters[data-selected="calendar"] + .match-list {
  margin-left: 32px;
  width: calc(100% - 32px);
}

/** calendar styling */
.match > input {
  order: 1;
  appearance: none;
  z-index: 10;
  right: 0;
  position: absolute;
}

.match > input::before {
  line-height: 1.4;
  width: 40px;
  height: 40px;
  display: inline-block;
  content: "\e907";
  font-family: Real-Madrid-New-Icons, sans-serif;
  color: #8bbbe8;
  font-size: 33px;
  vertical-align: middle;
}

.match > input:checked::before {
  content: "\e903";
}

.match > input + div.calendar-info {
  overflow: hidden;
  display: none;
  z-index: 8;
  box-sizing: border-box;
  height: 0;
  align-items: center;
  background-color: rgb(255 255 255 / 97%);
  padding-top: 180px;
  padding-bottom: 40px;
  position: absolute;
  inset: 0;
}

.match > input:checked + div.calendar-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

 /* stylelint-disable-next-line no-descending-specificity */
.calendar-info > a {
  flex-grow: 1;
  font-size: 0.938rem;
  line-height: 1;
}

.calendar-info > span {
  font-size: 15px;
  font-weight: 300;
  line-height: 3;
  letter-spacing: -0.3px;
}

.match > input:checked ~ .match-content .logo.team {
  z-index: 10;
}

.match .calendar-info > .calendar-icons {
  display: flex;
}

.match .calendar-info .calendar-icon {
  text-decoration: none;
  font-size: 0;
  color: #016ace;
  width: 30px;
}

.match .calendar-info .calendar-icon::before {
  width: 20px;
  height: 20px;
  font-family: Real-Madrid-New-Icons, sans-serif;
  font-size: 30px;
  display: block;
  margin-top: -10px;
}

.match .calendar-info .icon-google::before {
  content: "\e900";
}

.match .calendar-info .icon-ical::before {
  content: "\e901";
}

.match .calendar-info .icon-outlook::before {
  content: "\e902";
}

.match .calendar-info .icon-outlook {
  padding: 0 30px;
}

@media (min-width: 990px) {
  main > .matches-container::before {
    display: none;
  }

  .matches {
    padding-bottom: 10px;
  }

  .empty-match {
    font-size: 20px;
    justify-content: center;
  }

  .matches > .match-list {
    flex-direction: column;
  }

  .matches .filters[data-selected="calendar"] + .match-list {
    margin-left: 0;
    width: 100%;
  }

  .matches .match, .matches .empty-match {
    font-size: 0.75rem;
    min-height: 70px;
    margin: 0 0 10px;
    padding: 5px 0 5px 20px;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }

  .matches .match-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
  }

  .matches .match.appear, .matches .empty-match.appear {
    display: flex;
  }

  .match img {
    flex: 0 0 40px;
  }

  .match img.team.logo {
    width: 52px;
    height: 52px;
    flex-basis: 60px;
    margin-left: 27px;
    order: 4;
    margin-top: 0;
  }

  .match .datetime {
    flex-basis: 100px;
    margin: 0 50px 0 7px;
    align-self: center;
    font-size: 26px;
    order: 3;
  }

  .match .datetime .date {
    font-size: 14px;
    font-weight: 400;
  }

  .match .competition-info {
    align-items: end;
    font-size: 0.75rem;
    flex: 0 0 205px;
    padding-right: 15px;
    border-right: 1px solid rgb(0 0 0 / 12%);
    margin: 5px 5px 5px 0;
    order: 2;
  }

  .match .teams {
    flex-direction: column;
    padding-right: 15px;
    align-items: flex-start;
    margin: 0 5px 0 10px;
  }

  .match .teams > span:first-child::after {
    content : unset;
  }

  .match .price {
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 100;
  }

  .match a.button {
    flex: 0 1 220px;
    min-width: 220px;
  }

  /** styling of the controls */
  .matches .filters.level-2 > .option {
    line-height: unset;
  }

  .matches .filters .option a:hover {
    text-decoration: none;
    color: var(--background-color);;
  }

  .matches .filters .option.nested {
    display: inline-block;
    flex: 1 1 auto;
  }

  .matches .filters.level-2 > .option.active > a {
    display: inline-block;
  }

  .matches .filters.level-2 {
    display: none;
    padding-left: 80px;
    font-size: 15px;
    position: static;
    height: auto;
    overflow: unset;
  }

  .matches .option.active .filters.level-2 {
    display: inline-block;
  }

  .matches .option.active .option {
    display: inline-block;
    margin-bottom: -3px;
  }

  /** calendar styling */
  .match .calendar-info {
    font-size: 0.938rem;
    line-height: 1;
    letter-spacing: -0.3px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .match .calendar-info a {
    letter-spacing: -0.3px;
    padding: 0 20px;
    flex-grow: 0;
  }

  .match .calendar-info > span {
    font-weight: 100;
  }

  .match .calendar-info .calendar-icon {
    width: auto;
  }

  .match .calendar-info .icon-outlook {
    padding: 0;
  }

  .match > input {
    order: 2;
    position: static;
  }


  .match > input + div.calendar-info {
    width: 0;
    transition: width 0.5s;
    inset: unset;
    right: 0;
    height: 100%;
    padding: 0;
    display: flex;
  }

  .match > input:checked + div.calendar-info {
    width: 1200px;
    padding-left: 153px;
    flex-direction: row;
  }

  .match > input:checked ~ .match-content > .logo.home,
  .match > input:checked ~ .match-content > .logo.away {
    display: block;
    position: absolute;
    background-color: var(--background-color);
    z-index: 12;
    margin-left: 0;
    margin-top: 0;
  }

  .match > input:checked ~ .match-content > .logo.away {
    left: 65px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .match .competition-info {
    flex: 0 0 175px;
  }

  .match .competition-info span{
    text-align: end;
  }

  .match .datetime {
    margin: 0;
  }

  .match img.team.logo {
    margin: 0;
  }
}